@{
    ViewBag.Title = "Index";

}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Guaflix</title>
    <link rel="preload" href="https://codex.nflxext.com/%5E2.0.0/truthBundle/webui/0.0.1-shakti-js-dbfe879a/js/js/bootstrap.js,common%7Cbootstrap.js/2/gF0ogAgdgcga4Fgf0F0w4zgkgE0t0T02gGgj4Pgngg0Cgzgw4Jglg7gpgB/bk/true/none" as="script" />
    <link rel="preload" href="https://codex.nflxext.com/%5E2.0.0/truthBundle/webui/0.0.1-shakti-js-dbfe879a/js/js/components%7Clogin%7CloginLayout.jsx,components%7Clogin%7CloginController.jsx,react%7CgenericClient.js/2/gF0ogAgdgcga4Fgf0F0w4zgkgE0t0T02gGgj4Pgngg0Cgzgw4Jglg7gpgB/l/true/none" as="script" />
    <link type="text/css" rel="stylesheet" href="/ichnaea/cl2/freeform/WebsiteDetect?source=wwwhead&amp;fetchType=css&amp;modalView=login" />
    <script type="text/javascript">(function () { var request = new XMLHttpRequest(); request.open('GET', '/ichnaea/cl2/freeform/WebsiteDetect?source=wwwhead&fetchType=js&modalView=login', true); request.send(); var request2 = new XMLHttpRequest(); request2.open('GET', '/ichnaea/cl2/freeform/WebsiteScreen?source=wwwhead&fetchType=js' + '&winw=' + window.outerWidth + '&winh=' + window.outerHeight + '&screenw=' + window.innerWidth + '&screenh=' + window.innerHeight + '&ratio=' + ( window.devicePixelRatio ? window.devicePixelRatio : 'unsupported' ), true); request2.send(); })();</script>
    <meta content="ver películas, películas en línea, películas online, ver TV, TV en línea, TV online, ver programas, programas en línea, programas online, programas de TV, series en línea, series online, programas en línea, programas online, programas de TV, ver series, películas en streaming, TV en streaming, streaming inmediato, streaming al instante, ver en línea, ver online, películas, ver películas en Guatemala, ver TV en línea, ver TV online, sin descargas, películas completas" name="keywords" />
    <meta content="Disfruta películas y programas en internet o en tu Smart TV, consola de videojuegos, PC, Mac, dispositivo móvil, tablet y más." name="description" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="https://codex.nflxext.com/%5E2.0.0/truthBundle/webui/0.0.1-shakti-css-dbfe879a/css/css/login%7CloginBase.less,pages%7Clogin%7CLogin.less/2/0-0F0H0W080P0e0B0O0_0X0Q0V11/none/true/none" />
    <link rel="shortcut icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico" />
    <link rel="apple-touch-icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.png" />


    <div data-reactid="8">
        <noscript data-reactid="9">&lt;div class="ui-message-container ui-message-error"&gt;&lt;div class="ui-message-icon"&gt;&lt;/div&gt;&lt;div class="ui-message-contents"&gt;Parece que JavaScript no está habilitado. Habilita JavaScript para restaurar la funcionalidad de la página completa.&lt;/div&gt;&lt;/div&gt;</noscript>
        <div class="login-content login-form" data-reactid="10">
            <h2 style="color:black;">Login</h2>
            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group" style="color:black;">

                    <label>usuario</label>
                    <input type="text" name="user" />
                    <br>
                    <br>
                    <label>password</label>
                    <input type="password" name="pass" />

                    <button class="btn login-button btn-submit btn-small" type="submit" autocomplete="off" tabindex="4" data-reactid="25" value="Login">Iniciar sesión</button>
                </div>
            }
